<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= fruit.name %></title> 
</head>
<body>
  <h1><%= item.name %></h1> 
  <!-- Add more details about the fruit here -->
<body>
    <h1><%= item.name %></h1>
  
    <% if (item.isReadyToBuy) { %>
      <p>This item is ready to buy!</p>
    <% } else { %>
      <p>This item is not ready to buy!</p>
    <% } %>
    <!-- new delete button -->
<form action="/groceries/<%=item._id%>?_method=DELETE" method="POST">
    <button type="submit">Delete <%= item.name %></button>
  </form>
<!-- add edit page link here -->
<a href="/groceries/<%= item._id %>/edit">Edit <%= fruit.name %></a>
<a href="/groceries">Back to Groceries</a>
 ]
  </body>
</html>







    
